apiVersion: 1

groups:
  - orgId: 1
    name: url-shortener-alerts
    folder: URL Shortener Service
    interval: 1m
    rules:
      # ------------------------------------
      # ALERT 1 — High 404 Lookup Rate
      # ------------------------------------
      - uid: alert-404-rate
        title: High 404 Lookup Rate
        condition: A
        data:
          - refId: A
            queryType: timeSeriesQuery
            datasourceUid: PBFA97CFB590B2093
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: rate(lookups_404_total[5m])
              intervalMs: 10000
              maxDataPoints: 43200
        noDataState: NoData
        execErrState: Error
        for: 1m
        labels:
          severity: warning
        annotations:
          summary: "404 lookup rate is high"
          description: "The number of 404 redirect attempts is increasing."
        isPaused: false
        notification_settings:
          receiver: sudosquad-grafana

      # ------------------------------------
      # ALERT 2 — High P95 Latency
      # ------------------------------------
      - uid: alert-latency
        title: High P95 Request Latency
        condition: B
        data:
          - refId: B
            queryType: timeSeriesQuery
            datasourceUid: PBFA97CFB590B2093
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: histogram_quantile(0.95, sum(rate(request_latency_seconds_bucket[5m])) by (le, endpoint))
              intervalMs: 10000
              maxDataPoints: 43200
        noDataState: NoData
        execErrState: Error
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "High latency detected"
          description: "P95 latency for one or more endpoints is above normal."
        isPaused: false
        notification_settings:
          receiver: sudosquad-grafana

      # ------------------------------------
      # ALERT 3 — Redirects Dropped to Zero
      # ------------------------------------
      - uid: alert-redirect-zero
        title: Redirects Dropped to Zero
        condition: C
        data:
          - refId: C
            queryType: timeSeriesQuery
            datasourceUid: PBFA97CFB590B2093
            relativeTimeRange:
              from: 300
              to: 0
            model:
              expr: rate(redirects_total[5m])
              intervalMs: 10000
              maxDataPoints: 43200
        noDataState: NoData
        execErrState: Error
        for: 2m
        labels:
          severity: critical
        annotations:
          summary: "No redirects happening"
          description: "Redirect traffic dropped to zero — possible outage."
        isPaused: false
        notification_settings:
          receiver: sudosquad-grafana
